:root {
	/* Color palette */

	/* Accent for special content */
	--accent-100: #180106;
	--accent-200: #37040f;
	--accent-300: #6d061b;
	--accent-400: #ce0808;
	--accent-500: #f10030;
	--accent-600: #f64b6d;
	--accent-700: #ff93a9;
	--accent-800: #edb2bf;
	--accent-900: #fde2e7;

	/* Neutrals for normal content */
	--neutral-100: #070707;
	--neutral-200: #242424;
	--neutral-300: #4f4f4f;
	--neutral-400: #6B6768;
	--neutral-500: #8c8486;
	--neutral-600: #b8b5b6;
	--neutral-700: #c5bdbf;
	--neutral-800: #d5d5d5;
	--neutral-900: #dedddd;

	color-scheme: light;
}