body {
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
    background-color: light-dark(var(--neutral-800), var(--neutral-200));
}

h2 {
    margin: 2rem 0 1rem;
    padding-left: 1.21rem;
}