nav {
    margin-bottom: 0.5rem;
}

nav ul {
	margin: 0;
	padding: 0.5rem;

    display: flex;
	flex-wrap: wrap;
    gap: 0.2em 0.5em;

    box-shadow: 0 1px 1px -1px light-dark(var(--neutral-700), transparent);
    background-color: light-dark(var(--neutral-800), var(--neutral-300));

	list-style: none;
}

nav a {
	display: block;
	padding: 0.7rem 0.71rem;
	border-radius: 0.33rem;

	font-size: 1em;

    color: light-dark(var(--accent-200), var(--accent-900));
    text-decoration: none;

    transition: scale 0.2s ease, background-color 0.2s ease;
}

nav a:hover, #theme-switch *:hover {
    box-shadow:
        inset 0 1px 2px -1px light-dark(var(--neutral-700), transparent),
        0 0 0 1px light-dark(var(--neutral-800), transparent),
        0 0.5px 1px 1px light-dark(var(--neutral-700), transparent);
    background-color: light-dark(var(--neutral-800), var(--neutral-400));
    scale: 1.05;
}

nav a:active, #theme-switch *:active {
    scale: 0.95;
}

#theme-switch {
    margin-left: auto;
    border-radius: 0.33rem;

    display: inline flex;
    column-gap: 0.05em;
}

#theme-switch:hover {
    box-shadow:
        0 0 0 1px light-dark(var(--neutral-800), transparent),
        0 1px 1px 0px light-dark(var(--neutral-700), transparent);
}

#theme-switch *:hover {
    cursor: pointer;
}

#theme-switch button {
    margin: 0;
    padding: 0 0.5em;
    border: none;
    border-radius: 0.33rem 0 0 0.33rem;

    color: light-dark(var(--neutral-200), var(--neutral-900));
    background-color: light-dark(var(--neutral-800), var(--neutral-300));

    transition: scale 0.2s ease, background-color 0.2s ease;
}

#theme-switch select, #theme-switch select::picker(select) {
    appearance: base-select;
}

#theme-switch select {
    border: none;
    border-radius: 0 0.33rem 0.33rem 0;

    align-items: center;
    justify-content: center;

    background-color: light-dark(var(--neutral-800), var(--neutral-300));
}

#theme-switch select::picker-icon {
    margin: 0;
}

nav a#report {
	color: light-dark(var(--accent-900), var(--accent-900));
	background-color: light-dark(var(--accent-500), var(--accent-400));
}

nav a#report:hover {
	box-shadow:
        inset 0 1px 2px -1px light-dark(var(--neutral-600), transparent),
        0 0 0 1px light-dark(var(--accent-900), transparent),
        0 0.5px 1px 1px light-dark(var(--neutral-700), transparent);
	background-color: light-dark(var(--accent-600), var(--accent-500));
}