body {
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
    background-color: light-dark(var(--neutral-800), var(--neutral-200));
}

form {
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 200px);
    padding: 48px;
    border: 2px solid black;
    box-shadow: 20px 19px 35px -18px rgba(241,0,48,0.52);
    -webkit-box-shadow: 20px 19px 35px -18px rgba(241,0,48,0.52);
    -moz-box-shadow: 20px 19px 35px -18px rgba(241,0,48,0.52);
    width: 500px;
    min-height: 400px;
}

form div {
    margin-bottom: 24px;
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

select, input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-500);
    color: var(--neutral-900);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  select:focus, input:focus {
    border-color: var(--accent-600);
    outline: none;
}

button:hover {
    background-color: var(--accent-300);
}